In [1]:
import pandas as pd

df = pd.read_csv('../data/samplesubmission.csv')

df.head(10)

       project_id  final_status
0   kkst917493670             0
1  kkst1664901914             0
2   kkst925125077             1
3  kkst1427645275             0
4  kkst1714249266             0
5   kkst994744324             0
6   kkst366471810             0
7  kkst1686645245             1
8  kkst1009612119             0
9   kkst774947236             1